.miniLogo {
    width: 100px;
}

.custom-file-label {

    text-overflow: ellipsis;
    overflow: hidden;
}

.sidelogo {
    max-width: 100%;
    width: 113px;
    height: 55px;
    padding: 2px 0;
}

.c-sidebar .c-sidebar-brand {
    color: #fff;
    background: #fff;
}

.rmsc .dropdown-container {
    z-index: 15;
}

.badg-click {
    cursor: pointer;
}

.rmsc .dropdown-heading .dropdown-heading-value {
    padding-inline-start: 12px;
}

.rmsc .dropdown-heading,
.dropdown-heading {

    height: 34px !important;

}

.imgprediifined {
    max-width: 100%;
    margin: auto;
    display: block;
    height: 100px;
}

.d-md-down-none.c-header-nav {
    margin-inline-end: auto !important;
    // margin-right: auto !important;
}

// .mr-auto
.text-end {
    text-align: end;
}

.addressCol {
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    flex-flow: wrap;
}

.addressDetail {
    display: flex;

    h6 {
        margin-bottom: 0px
    }
}

.react-tel-input .form-control {
    width: 100%;
    padding: 16.5px 14px 17.5px 60px;

}

.usersTabel {

    .pagination {
        padding-left: 0;
        flex-flow: wrap;
    }

    .logoAll,
    .tdImage img {
        max-width: 100px;
        max-height: 40px;
    }

    .table th,
    .table td {
        // padding: 0.55rem;
        vertical-align: middle;
        border-top: 1px solid;
        text-align: center;
        border-top-color: #d8dbe0;
    }
}